<div class="d-flex justify-content-between">
  <%= link_to "", root_path, class: "bi bi-house h4 text-black" %>
  <h1 class="display-2 text-center mb-4">Corrida Bíblica</h1>
  <%= link_to "", desafios_config_modal_path,
    data: { turbo_frame: "config_modal" },
    class: "bi bi-gear h4 text-black" %>
</div>
