<div data-controller="desafio1">
  <div class="container mt-2">
    <%= render "layouts/challengers/header" %>
    <div class="row mt-4 text-center">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <%= turbo_frame_tag "verse" do %>
              <h2 id="textoverse">Clique para começar</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <%= link_to "Começar", challengers_verse_path,
              class: "btn btn-success", id: "btnStart",
              data: {
                turbo_frame: "verse",
                action: "click->desafio1#startChallenge"
              } %>
          </div>
          <div class="col">
            <%= link_to "Terminar", nil,
              class: "btn btn-danger disabled", id: "btnStop",
              data: {
                action: "click->desafio1#stopChallenge"
              } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
